/*

*/

body {
    color: #141414;
    background: #f0f0f0;
}

/* Footer page */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    /*position: fixed;*/
    background: #333;
    padding: 30px 10px;
}